$bg-color-grey: #F6F6F6;
$bg-color-grey-dark: #EAEAEA;
$bg-color-black: #353535;
$icon-color: #7E7E7E;
$color-purple: #9356DC;
$color-green: #99E2D0;
$color-text-green: #008766;

$font-shrikhand: 'Shrikhand';
$font-roboto: 'Roboto' !default;