$bg-color-grey: #f6f6f6;
$bg-color-grey-dark: #eaeaea;
$bg-color-black: #353535;
$icon-color: #7e7e7e;
$color-purple: #9356dc;
$color-green: #99e2d0;
$color-text-green: #008766;

$font-shrikhand: "Shrikhand";
$font-roboto: "Roboto";
