@import 'variables';
@import 'mixins';
@import 'modules';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include font($size:16px, $weight:400);
    background-color: $bg-color-grey;
    
    h1 {
        @include font($size: 20px, $weight: 700);
    }
    a {
        color: white;
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
    input[type="checkbox"]{
        display: none;
    }
    .link-restaurants p {
        @include font($size: 16px, $weight: 300);
        color: $bg-color-black;
    }
    .restaurants {
        h2 {
            @include font($size: 16px, $weight: 700);
        }
        p {
            @include font($size: 15px, $weight: 300);
        }
    }
    footer {
        background-color: $bg-color-black;
        .footer_logo {
            @include font($font-shrikhand, 18px, 400);
        }
    }
}
    
