/* Button hover effect with opacity and shadow */
.gradient-button {
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.gradient-button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4392156863); /* Darken the shadow on hover */
}

/* Animation for heart icons */
.fa-solid.fa-heart {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text; /* Apply gradient to text */
  -webkit-background-clip: text; /* Safari support */
  -webkit-text-fill-color: transparent; /* Make background visible through text */
  opacity: 0;
  transition: all 300ms;
}

input:checked + label .fa-solid.fa-heart {
  opacity: 1;
}

/* Slidebar animation for restaurant menu */
.menu_cards_slidebar {
  transition: all 500ms ease;
}

input:checked ~ .menu_cards_slidebar {
  transform: translateX(-51px);
  box-shadow: -15px 0 30px rgb(255, 255, 255);
}

input:checked + label span {
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis; /* Show '...' when text overflows */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Menu animation for page loading */
.menu section {
  animation: visible 900ms ease-in-out forwards;
  opacity: 0;
}

.menu section:nth-child(1) {
  animation-delay: 100ms; /* Delay each section's animation for a staggered effect */
}

.menu section:nth-child(2) {
  animation-delay: 200ms; /* Delay each section's animation for a staggered effect */
}

.menu section:nth-child(3) {
  animation-delay: 300ms; /* Delay each section's animation for a staggered effect */
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Loader animation for page loading */
.body-acceuil {
  overflow: hidden; /* Hide overflow to prevent scrolling during animation */
  animation: overflow 0s 4s forwards;
}

@keyframes overflow {
  100% {
    overflow: visible; /* Restore overflow after animation ends */
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  animation: invisible ease-out 0.1s 3.9s forwards;
  z-index: 999;
}

@keyframes invisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none; /* Disable interactions */
  }
}
.loader_container {
  position: relative;
  width: 290px;
  height: 70px;
  /* Fade effect for top and bottom of loader */
  mask-image: linear-gradient(to bottom, transparent 0%, white 10%, white 90%, transparent 100%);
  /* Safari support */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, white 10%, white 90%, transparent 100%);
}
@media screen and (min-width: 900px) {
  .loader_container {
    width: 500px;
    height: 90px;
  }
}

.loader ul {
  position: absolute;
  top: -8px;
  left: 3px;
}
@media screen and (min-width: 900px) {
  .loader ul {
    position: absolute;
    top: -17px;
    left: 10px;
  }
}

/* Individual positioning for each loader element */
.loader ul:nth-child(2) {
  left: 35px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(2) {
    left: 70px;
  }
}

.loader ul:nth-child(3) {
  left: 70px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(3) {
    left: 135px;
  }
}

.loader ul:nth-child(4) {
  left: 122px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(4) {
    left: 225px;
  }
}

.loader ul:nth-child(5) {
  left: 153px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(5) {
    left: 280px;
  }
}

.loader ul:nth-child(6) {
  left: 175px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(6) {
    left: 315px;
  }
}

.loader ul:nth-child(7) {
  left: 208px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(7) {
    left: 370px;
  }
}

.loader ul:nth-child(8) {
  left: 242px;
}
@media screen and (min-width: 900px) {
  .loader ul:nth-child(8) {
    left: 425px;
  }
}

.loader li {
  font-family: "Shrikhand";
  font-size: 50px;
  font-weight: 400;
  color: #eaeaea;
  text-shadow: 4px 4px 10px black;
}
@media screen and (min-width: 900px) {
  .loader li {
    font-size: 80px;
  }
}

/* Loop for managing translate animation for 8 loader elements */
@keyframes translate1 {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li1 {
  /* Apply animation to each loader element */
  animation: translate1 2s forwards 3;
}

@keyframes translate2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li2 {
  /* Apply animation to each loader element */
  animation: translate2 2s forwards 3;
}

@keyframes translate3 {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li3 {
  /* Apply animation to each loader element */
  animation: translate3 2s forwards 3;
}

@keyframes translate4 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li4 {
  /* Apply animation to each loader element */
  animation: translate4 2s forwards 3;
}

@keyframes translate5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li5 {
  /* Apply animation to each loader element */
  animation: translate5 2s forwards 3;
}

@keyframes translate6 {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li6 {
  /* Apply animation to each loader element */
  animation: translate6 2s forwards 3;
}

@keyframes translate7 {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li7 {
  /* Apply animation to each loader element */
  animation: translate7 2s forwards 3;
}

@keyframes translate8 {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(var(--translate-value));
  }
  100% {
    transform: translateY(var(--translate-value));
  }
}
.loader_container .li8 {
  /* Apply animation to each loader element */
  animation: translate8 2s forwards 3;
}

/* Responsive translate value adjustments */
@media screen and (max-width: 900px) {
  :root {
    --translate-value: -727px;
  }
}
@media screen and (min-width: 900px) {
  :root {
    --translate-value: -1165px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  background-color: #f6f6f6;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input[type=checkbox] {
  display: none;
}

footer {
  background-color: #353535;
}
footer .footer_logo {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
}

.header {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header_logo {
  width: 58%;
  max-width: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
  padding: 22px 25px;
}
@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding: 55px 55px 30px;
  }
}
.footer_logo {
  color: white;
}
.footer_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 7px;
}
@media screen and (min-width: 900px) {
  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
}
.footer_links i {
  width: 20px;
}
.footer_links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

body {
  background: white;
}

h1 {
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  h1 {
    font-family: "Shrikhand";
    font-size: 26px;
    font-weight: 400;
  }
}

h2 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  width: 100%;
  max-width: 634px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

span:nth-child(2) {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
}

b {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header a {
  color: inherit;
}
.header i {
  font-size: 1.3rem;
}

main .banniere {
  width: 100%;
  height: 100%;
  max-height: 383px;
}
main .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  top: -60px;
  max-width: 1055px;
  margin: 0 auto;
  padding: 32px 13px 0;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
main .main-container_title {
  position: relative;
  left: -30px;
  margin-bottom: 40px;
}
main .main-container_title label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: -3px;
  right: -60px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
main .main-container_title label .fa-regular.fa-heart {
  position: absolute;
  font-size: 1.5rem;
  z-index: 1;
}
main .main-container_title label .fa-solid.fa-heart {
  position: absolute;
  font-size: 1.5rem;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  main .main-container_title label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: absolute;
    top: 2px;
    right: -60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  main .main-container_title label .fa-regular.fa-heart {
    position: absolute;
    font-size: 1.5rem;
    z-index: 1;
  }
  main .main-container_title label .fa-solid.fa-heart {
    position: absolute;
    font-size: 1.5rem;
    z-index: 2;
  }
}
main .main-container .menu .underline {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
main .main-container .menu_cards {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 634px;
  border-radius: 15px;
  background-color: white;
}
main .main-container .menu_cards label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  position: relative;
  padding: 13px 10px;
  cursor: pointer;
}
main .main-container .menu_cards_slidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 0;
  right: -51px;
  width: 85px;
  height: 69.18px;
  background-color: white;
}
main .main-container .menu_cards_slidebar_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  gap: 0;
  width: 40%;
  height: 100%;
  padding-bottom: 13px;
}
main .main-container .menu_cards_slidebar_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 60%;
  height: 100%;
}
main .main-container .menu_cards_slidebar_icon i {
  font-size: 1.3rem;
  color: white;
}
main .main-container .menu .gradient-button {
  padding: 13px 50px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

footer {
  margin-top: -60px;
}/*# sourceMappingURL=restaurants.css.map */